/**
 * Easy Support Videos - Contextual Videos Admin
 */

/**
 * Contextual Videos Modal
 */
#easy-support-videos-contextual-videos-modal-content #easy-support-videos-status-message {
	width: calc( 100% - 40px ); /* Note: 20px is the default padding on Easy Support Videos container element */
	max-width: 100%;
	box-shadow: 0 0 5px 2px rgba( 0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
	position: absolute;
	top: -10rem;
	right: auto;
	bottom: auto;
	left: auto;

	-webkit-transition: top 0.25s ease-out;
	transition: top 0.25s ease-out;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-status-message.easy-support-videos-is-active {
	top: 20px; /* Note: 20px is the default padding on Easy Support Videos container element */
	right: auto;
	bottom: auto;
	left: auto;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-status-message #easy-support-videos-status-message-close-wrap {
	display: none;
}

#easy-support-videos-contextual-videos-modal-content .easy-support-videos-wrap .nav-tab-wrapper {
	display: none;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-insert-video {
	padding: 0;
}

#easy-support-videos-contextual-videos-modal-content .easy-support-videos-has-videos #easy-support-videos-insert-video {
	display: none;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-insert-video label {
	font-weight: 600;
	line-height: 2em;
	display: inline-block;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-insert-video-url {
	max-width: 100%;
}

#easy-support-videos-contextual-videos-modal-content .easy-support-videos-wrap .easy-support-videos-spinner {
	margin: 0;
	position: relative;
	top: 6px;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-insert-video-description .easy-support-videos-description {
	margin-top: 0.5em;
	font-size: 14px;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-videos .easy-support-video .easy-support-videos-video-excerpt-character-count {
	color: #767676;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-videos .easy-support-video .easy-support-videos-video-delete {
	padding: 4px;
	color: #767676;
	background: #fff;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-videos .easy-support-video .easy-support-videos-video-delete:hover {
	color: #a00;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-videos .easy-support-video:hover .easy-support-videos-video-delete {
	display: inline-block;
}

#easy-support-videos-contextual-videos-modal-content #easy-support-videos-global-video {
	margin-top: 1em;
}

#easy-support-videos-contextual-videos-modal-content .easy-support-videos-has-videos #easy-support-videos-global-video {
	display: none;
}